.nav-bar {
  margin: 0px;
  background-color: black;
  overflow: hidden;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.pfp {
  width: 20%;
  height: 20%;
}
